*
{
    margin: 0;
    padding: 0;
}

/*----------Navigation-------*/
#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar-brand img
{
    height: 40px;
    padding-left: 30px;
}
.navbar-nav li
{
    padding: 0 10px;
}
.navbar-nav li a
{
    float: right;
    text-align: left;
}
#nav-bar ul li a:hover
{
    color: #CF3F00!important;
}
.navbar
{
    background: #1E1C1A;
}
.navbar-toggler
{
    border: none!important;
}
.nav-link
{
    color: #fff!important;
    font-weight: 500;
    font-size: 20px;
    font-family:    fantasy ;
}

section .container .img-box img{

    width: 900px;
    height: 600px;
    margin-left: 85px;
}
section .container .text-container p{
    font-size: 40px;
    margin-left: 85px;
    margin-bottom: 8px;

}
section .container .text-container h6{
    font-size: 9px;
    margin-left: 87px;
    margin-bottom: 20px;
}
section .container .img-box p{
    font-size: 20px;
    margin-top: 40px;
    margin-bottom:40px;
}